.HarreksAdvancedTooltips
.Libs
.DS_Store
/.HarreksAdvancedTooltips 
.HarreksAdvancedTooltips /HarreksAdvancedTooltips.lua
/.HarreksAdvancedTooltips 
.HarreksAdvancedTooltips /HarreksAdvancedTooltips.toc
*.txt
